<button class="btn btn-warning" (click)="randomPokemons()" *ngIf="!loadingPokemons">⟳ Relancer la recherche</button>
<div *ngIf="loadingPokemons">
  <p class="text-center">
      Chargement... {{percentLoadingPokemons}}%
  </p>
  <p>
      <img src="assets/loader.gif" class="loader_liste_pokemons" [style.margin-left.%]="percentLoadingPokemons">
  </p>
  <p class="lead"></p>
</div>

<div *ngIf="erreurRecupData" class="card text-center">
    <p>Il y a eu une erreur lors de la récupération des données.</p>
    <p *ngFor="let err of errApi">{{ err }}</p>
    <p>{{ errApiPlus.detail }}</p>
</div>

<div *ngIf="(pokemons | json) != '{}'" class="list_pokemons">

  <div *ngFor="let pokemon of pokemons; let isFirst = first" class="card card_pokemon" [class.isFirst]="isFirst">
    
    <div *ngIf="(pokemon | json) != '{}'">

      <h3 class="card-header">{{ pokemon.name }} <small>({{ pokemon.id }})</small></h3>
      <div class="card-block">
          <span class="badge badge-default badge_type" *ngFor="let type of pokemon.types">
            <a target="_blank"
              href="{{type.type.url}}">{{ type.type.name }}
            </a>
          </span>
      </div>

      <img *ngIf="pokemon.sprites.front_default" [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}">
      
      <div class="card-block">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Ecouter son cri</a>
          <a href="#" class="card-link">Où le trouver ?</a>
      </div>

      <div class="card-footer text-muted text-xs-center">
          <span *ngIf="pokemon.inDB">✔ Déjà dans le pokédex</span>
          <div class="not_in_pokedex" *ngIf="!pokemon.inDB" (click)="addToPokedex(pokemon.id)">
          </div>
      </div>

    </div>

  </div>

</div>