.list_pokemons{
    display: flex;
    flex-wrap: wrap;
}

.card_pokemon{
    width: 33%
}

.badge_type{
    margin-left: 5px;
}

.isFirst{
    width: 0;
    display: none;
}

.loader_liste_pokemons{
    height:40px;
    transition: .5s linear;
}

.not_in_pokedex{
    width: 100%;
    text-align: center;
    padding: 9px;
}

.not_in_pokedex:before {
    content: "\2718 Pas encore dans le pokédex";
 }

.not_in_pokedex:hover{
    background-color: #375a7f;
    padding: 7px;
    border-radius: 5px;
    border: solid black 2px;
    color: #fff;
    cursor: pointer;
}

.not_in_pokedex:hover:before {
    content: "+ Ajouter au pokédex";
 }

 .in_pokedex:before{
    content: "+ Ajouter au pokédex";
 }